FORMAT: 1A
HOST: http://api.rocketmgmt.de

# RocketBeans API
The RocketBeans API provides information about [Rocket Beans TV](https://www.rocketbeans.tv/rb-tv/)

## Authorization
<!-- include(partial/authentication.md) -->

# Data Structures

## Podcast
+ title: Wasser & IPhones (string) - The Podcast Title.
+ description: Folge 1 (string) - The Podcast Description.
+ length: 3568 (string) - The Podcast Length in Seconds.
+ url: http:\/\/cdn.rocketmgmt.de\/mp3\/almost_daily\/almostdaily_e001.mp3 (string) - The URL to the Podcast.
+ image: http:\/\/cdn.rocketmgmt.de\/images\/app\/almost_daily.jpg (string) - The URL to the Podcast Image.
+ filesize: 143 (string) - The Size of the Podcast in MB.

## PodcastList
+ podcasts: (array[Podcast])

## Show
+ id: 37663 (number) - The Show ID.
+ title: Knallhart Durchgenommen (string) - The Show Title
+ topic: Knallhart Durchgenommen: Dark Souls III (string) - The Show Topic.
+ show: Knallhart Durchgenommen (string) - The kind of the Show.
+ timeStart: `2016-04-22T22:00:00+02:00` (string) - The start time of the Show.
+ timeEnd: `2016-04-23T00:09:17+02:00` (string) - The end time of the Show.
+ length: 7757 (number) - The Show Length in Seconds.
+ type: premiere, live (enum) - The Show Type can be premiere, live or .
+ game: Dark Souls III (string)  - The Game played in the Show.

## scheduleList
+ schedule: (array[Show])

## weekSchedule
+ schedule:
  + 18.04.2016: (array[Show]) - Date of the Weekday

# Group Podcasts

## Podcast List [/podcast]

### GET Podcasts [GET]
Get a list of podcasts.

+ Response 200 (text/html;charset=UTF-8)

  + Attributes (PodcastList)

# Group Schedule

## Schedule List [/schedule]

### GET Schedule List[GET]
Get the schedule of the current week as one list.

+ Response 200 (text/html;charset=UTF-8)

  + Attributes (scheduleList)

## Schedule List [/schedule/next/{limit}]


### GET Next X Shows [GET]
Get the the next x Ssows starting from the current show.

+ Response 200 (text/html;charset=UTF-8)

+ Parameters

  + limit: 5 (required, number) - number of shows you receive

+ Attributes (scheduleList)


## Week Schedule [/schedule/weekdays]

### GET Week Schedule [GET]
Get the schedule of the current week sorted by weekdays.

+ Response 200 (text/html;charset=UTF-8)

  + Attributes (weekSchedule)

## Current Show [/schedule/current]

### GET current Show [GET]
Get the show that is currently running.

+ Response 200 (text/html;charset=UTF-8)

  + Attributes (Show)
